h1{
  text-align: center;
  color: purple;
  }

#areaBotones {
	text-align: center;
	margin: 15px;
  }

button {
  background-color: #D0A9F5;
  border: none;
  color: purple;
  padding: 7px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }
